//颜色
$green: rgb(8, 183, 131);
$green-active: rgb(19, 208, 152);
$green-disable: rgba(19, 208, 152,.5);

$yellow: rgb(255, 141, 19);
$yellow-active: rgb(255, 169, 77);
$yellow-disable: rgba(255, 169, 77,.5);   

$blue: rgb(62, 162, 255);
$blue-active: rgb(117, 219, 255);
$blue-disable: rgba(117, 219, 255,.5);

$bluegreen: rgb(8, 183, 131);
$bluegreen-active: rgb(19, 208, 152);
$bluegreen-disable: rgba(19, 208, 152,.5);

$red: rgb(255, 82, 102);
$red-active: rgb(255, 112, 128);
$red-disable: rgba(255, 112, 128,.5);


$white :#fff;
$gray1 : #1e1e1e;
$gray2 : #4e4e50;
$gray3 : #7f8184;
$gray4 : #9c9ea1;
$gray5 : #c8c9c9;
$gray6 : #e8ebee;
$gray7 : #f5f7f8;

//字号
$font-size-large-x: 38px/2;
$font-size-large: 34px/2;

$font-size-medium-x: 32px/2;
$font-size-medium: 30px/2;

$font-size-normal-x: 28px/2;
$font-size-normal: 26px/2;

$font-size-small-x: 24px/2;
$font-size-small: 22px/2;


//间隙
$gap-large-xx : 48px/2; 
$gap-large-x : 38px/2; 
$gap-large : 36px/2; 

$gap-normal-x : 34px/2;
$gap-normal : 32px/2; 

$gap-small-x : 28px/2;
$gap-small: 20px/2;

